<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>

        <form method = "post">
            {%csrf_token%}
            <label> Value 1 </label>
            <input type = 'text' name = 'num1' width = '100%'/>

            <label>Select Opr : </label>
            <Select name = 'opr'>
                <option value = '+'> + </option>
                <option value = '-'> - </option>
                <option value = '*'> * </option>
                <option value = '/'> / </option>
            </select>

            <label>Value 2</label>
            <input type = 'text' name = 'num2' width = '100%'/>

            <button type = "Submit" name = "submit"> Calculate</button>

            <label> Output </label>
            <input type = "text" value = {{c}}>


        </form>
        
    </body>
</html>