{%extends 'base.html' %}

{% block content %}


    <h1>user Form</h1>

    <div class = 'row'>
        <div  class = "col12">
            <form method = "post">
                {% csrf_token %}
                
                {{form}}
                
                {% comment %} <div>
                    <label for = ""> Value1</label>
                    <input type = "text" name ="num1">
                </div>

                <div>
                    <label for = ""> Value2</label>
                    <input type = "text" name ="num2">
                </div>
                {% endcomment %}



                <div>
                    <button type = 'submit'> Save</button>
                </div>

            </form>
        </div>
    </div>
        

{%endblock%}
